<li class="post w-100 p-3 mb-2 d-flex" data-id="{{id}}" onclick="handlePostClick(event, this)">
    <a class="avt-container" href="/profile/{{userId._id}}"><img class="avt-photo rounded-circle" src="{{userId.profilePicture}}" alt="photo"></a>
    <div class="content flex-grow-1">
        <header class="d-flex align-items-center mb-1">
            <a class="username fw-bold me-1 text-decoration-none" href=""><span>{{userId.username}}</span></a>
            <a class="email text-secondary me-2 text-decoration-none" href=""><span>{{userId.username}}</span></a>
            <time class="timestamp">{{formatDate createdAt}}</time>
        </header>
        <p class="content-text my-2 text-light mt-1 mb-1">{{content}}</p>
        {{#if image}}
        <div class="image"><img src="{{image}}" alt="Attached Image" /></div>
        {{/if}}

        <div class="interaction d-flex mt-2" style="gap: 2rem">
            <div class="interaction-button d-flex">
                <button class="d-flex justify-content-center align-items-center rounded-circle border-0 shadow-none" 
                onclick="changeIcon(this, '{{id}}')"><img src="/assets/vendor/icons/heart{{#if isLiked}}-2{{/if}}.svg" alt="Like Icon" class="icon"></button>
                <span class="interaction-count d-flex justify-content-center align-items-center text-secondary">{{likeCount}}</span> 
            </div>
            <div class="interaction-button d-flex">
                <button class="d-flex justify-content-center align-items-center rounded-circle border-0 shadow-none" 
                onclick="showReplyBox('{{id}}')"><img src="/assets/vendor/icons/chat.svg" alt="Comment Icon" class="icon"></button>
                <span class="interaction-count d-flex justify-content-center align-items-center text-secondary">{{replyCount}}</span> 
            </div>
        </div>
        
    </div>
</li>


<script type="module" src="/js/detailPost.js"></script>