<div class="reply-box-content d-flex justify-content-center w-60" style="display: none;">
    <form id="reply-form" data-parent-id="{{thread._id}}">
        <div class="card text-light p-3" style="width: 400px; background-color: var(--primary-900); border: none; outline: none;">
            <div class="d-flex align-items-center mb-3">
                <img src="{{thread.userId.profilePicture}}" alt="Avatar" class="rounded-circle me-3" style="width: 50px; height: 50px;">
                <div class="flex-grow-1">
                    <h5 class="mb-0" style="color: var(--primary-150);">{{thread.userId.username}}</h5>
                    <small class="text-muted">{{thread.userId.email}}</small>
                </div>
                <small class="text-muted">{{formatDate thread.createdAt}}</small>
            </div>
            <p class="mb-3">{{thread.content}}</p>
            <div class="d-flex align-items-center flex-wrap border-top pt-3">
                <textarea class="reply-input w-100" name="content" placeholder="Post your reply"></textarea>
                <div class="reply-actions d-flex align-items-center mt-2 w-100">
                    <label for="add-image" style="cursor: pointer;" class="me-3">
                        <i class="bi bi-images fs-6 text-white"></i>
                    </label>
                    <input id="add-image" type="file" name="image" accept="image/*" />
                    <button class="btn btn-primary ms-auto" type="submit">Reply</button>
                </div>
            </div>
        </div>
    </form>
    <button class="close-button" style="border: none; outline: none;" onclick="closeReplyBox()">✖</button>
</div>
